.landing {background-color: #fff; font-family: 'Open Sans', sans-serif;}

.fleft {float: left; display: inline-block;}
.fright {float: right; display: inline-block;}

.fifth {width: 20%;}

.landing input[type=text], .landing input[type=number], .landing input[type=password], .landing input[type=email], .landing textarea {margin-left: 0px; margin-right: 0px;}


.landing header {width:100%; height: auto; z-index: 99999;}
.landing .logo {margin-top: 0px; font-size:40px; font-family: 'Open Sans', sans-serif; font-weight:100; letter-spacing: -0.02em; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.4); text-transform: none; }
.landing .logo i {font-weight: 500;}
.landing .logo img {max-height: 20px; vertical-align: middle;}
.landing .logo span {font-size:18px; text-transform: lowercase; text-shadow:none;}

.solid-wrap {background-color:#279C6A; color:#fff; box-sizing: border-box; padding: 20px; -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.25); -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.25); box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.25);}
.equation i {font-size: 85px; margin-bottom: 25px;}
.equation h1 {font-size: 85px;}

.landing .nobot {padding-bottom: 0px; position: relative;}
.landing .nobot .column {padding-bottom: 0px;}

.landing .ipad {position: absolute; bottom:0px; right:0px; max-width: 720px;}

.landing .subtext {font-size:64px; padding-bottom: 45px;}


.landing header .page-title {padding:0px;}

.landing .page-title, .landing input[type=submit] {background-color:#279C6A;}

.landing .example .overlay {right:2%;}

.landing .example .overlay h3 {background-color:transparent; color:#fff; text-shadow:none; font-size: 32px; font-weight:200; font-family: 'Open Sans', sans-serif; }
.landing .example .overlay h3 i {padding-right: 20px; font-size:78px; margin-top: -5px; vertical-align: middle;}


.landing h1, .landing h2, .landing h3, .landing h4, .landing h5, .landing h6, .landing .shipping .fa-truck, .landing .shipping .fa-bar-chart {font-family: 'Open Sans', sans-serif; font-weight:300; text-transform: uppercase; text-shadow:none;}
.white-wrap h1, .white-wrap h2, .white-wrap h3, .white-wrap h4, .white-wrap h5, .white-wrap h6 {text-shadow:none;}

.landing main {margin-top:118px;}
.landing .supported img {height: 86px; padding:20px;}
.landing .column {padding: 20px;}

.landing .examples {background-image:url('images/responsive.png'); z-index: 9999; position: relative; margin-bottom: -350px;}

.landing input, .landing textarea {width: 100%; margin-bottom: 15px;}
.landing .shipping .fa-truck, .landing .shipping .fa-bar-chart {font-size:198px;}
.landing .shipping {padding-bottom:75px;}
.landing .shipping h1 {font-size: 92px; background: #fff; color: #279C6A; display: inline-block; border-radius: 50%; padding: 20px 30px; font-weight: 500; margin-right: 20px; margin-left: 20px;}
.landing .shipping h2 {font-size:48px; text-align: center;}
.landing .shipping p {line-height:38px; font-size: 22px; font-weight: 200;}

.spacer {margin-top:350px; border-top:10px #279C6A solid;}

.landing .e-com-form h1 {font-size: 48px;}
.landing .e-com-form p {line-height:36px;}
.landing .e-com-form i {font-size:32px; vertical-align: middle; padding-right: 25px;}

.landing footer iframe {border:4px solid #fff;}


.landing footer {max-height: 300px; overflow: hidden;}
.landing footer ul {padding:0px;}
.landing footer li {list-style: none; font-size: 24px; font-weight: 200; padding-bottom: 15px;}

.col-wrap .fa-sun-o {font-size:505px; color:#2CAD76;}

.landing .static {display: none; text-align: center;}


.landing .page-title.blacken {background-color:#2CAD76;}

@media (max-width: 926px) {
	.landing header {position: fixed;}
	.fifth {width: 100%;}
	.third {width: 100%;}
	.landing .ipad {position: relative; max-width: 100%;}
}

@media (max-width: 600px) {
	.landing .shipping {padding-bottom: 25px;}
	.landing .shipping h1 {float:none; margin:0px;}
	.landing .subtext {font-size: 34px;}
	.landing .examples {display: none;}
	.landing .static {display: block;}
	.spacer {margin-top: 0px;}
	.shipping .talignleft {text-align: center;}
	.shipping .talignright {text-align: center;}
	.landing footer {max-height: 100%;}
}